.ex-title {
  font-size: 28px;
  font-weight: 600;
  margin-bottom: 25px;
  color: #fa3636;
  position: relative;
  text-align: center;
}

@media (max-width: 768px) {
  .ex-title {
    font-size: 20px;
  }
}

.ex-card {
  background: var(--color-gray-light);
  padding: 20px;
  border-radius: 14px;
  box-shadow: 0 4px 14px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 450px;
  margin: 40px auto;
  padding-top: 50px;
  position: relative;
  box-sizing: border-box;
}

.ex-inputs {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.in-field {
  background-color: #9b3209;
  color: #fff;
  padding: 12px 14px;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 16px;
  width: 100%;
  box-sizing: border-box;
}

.ex-btn {
  margin-top: 15px;
  width: 100%;
  padding: 14px;
  border: none;
  background: #1dbc91;
  color: #fff;
  font-size: 17px;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.2s ease;
}

.ex-btn:hover {
  background: #0beaae;
}

.ex-table {
  width: 100%;
  border-collapse: collapse;
  background: var(--color-gray-light);
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.05);
}

.ex-table th {
  background: var(--color-red);
  padding: 14px;
  font-weight: 600;
  color: #fff;
}

.ex-table th,
.ex-table td {
  border: 1px solid #ccc;
  padding: 12px;
  text-align: center;
  font-size: 15px;
}

.ex-table td {
  color: #fff;
}

@media (max-width: 600px) {
  .ex-table th,
  .ex-table td {
    font-size: 12px;
    padding: 5px;
  }
}

.ex-actions button {
  background: #ef4444;
  border: none;
  padding: 8px 14px;
  color: white;
  border-radius: 6px;
  cursor: pointer;
}

.ex-actions button:hover {
  background: #c53333;
}

.add-icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: -50px;
  cursor: pointer;
  font-size: 26px;
  color: #fff;
}

@media (max-width: 768px) {
  .add-icon {
    right: -10px;
    font-size: 22px;
  }
}

@media (max-width: 480px) {
  .add-icon {
    right: 10px;
    top: -10px;
    transform: none;
    font-size: 20px;
  }
}

.x-icon {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  font-size: 25px;
  color: #fff;
  background-color: var(--color-red);
  border-radius: 5px;
}
