.exercises {
  padding-top: 60px;
  padding-bottom: 160px;
  background-color: var(--color-bg-light);
}

.exercises .popular-header {
  padding: 30px;
  margin: 20px 0;
  text-align: center;
}

.exercises .popular-header p {
  color: var(--color-red);
  position: relative;
  display: inline-block;
  text-transform: uppercase;
}

.exercises .popular-header p::before,
.exercises .popular-header p::after {
  content: "";
  position: absolute;
  width: 50px;
  height: 2px;
  background-color: var(--color-red);
  top: 50%;
}

.exercises .popular-header p::before {
  left: -35px;
  transform: translateX(-50%);
}

.exercises .popular-header p::after {
  right: -60px;
  transform: translateY(-50%);
}

.exercises .popular-header h2 {
  font-size: 35px;
  margin-top: 15px;
  margin-bottom: 20px;
}

.exercises .content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 25px;
}

@media (max-width: 768px) {
  .exercises .content {
    justify-content: center;
    gap: 18px;
  }
}

.exercise-box {
  text-decoration: none;
  color: white;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.ex-box {
  background-color: var(--color-bg-dark);
  border-radius: 15px;
  overflow: hidden;
  width: 260px;
  height: 330px;
  transition: all 0.4s ease;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.4);
  padding: 20px;
}

.ex-box img {
  width: 100%;
  height: 180px;
  object-fit: cover;
}

.ex-box h3 {
  font-size: 20px;
  margin: 10px 0;
  text-transform: capitalize;
}

.ex-box p {
  font-size: 14px;
  padding: 0 10px 15px;
  color: #cccccc;
}

.exercise-box:hover .ex-box {
  transform: translateY(-5px) scale(1.05);
}

.content .exercise-box:nth-child(2):hover .ex-box,
.content .exercise-box:nth-child(3):hover .ex-box {
  transform: scale(1.1);
}

@media (max-width: 768px) {
  .ex-box {
    width: 90%;
    height: auto;
    padding: 15px;
  }

  .exercise-box:hover .ex-box {
    transform: scale(1.03);
  }

  .content .exercise-box:nth-child(2):hover .ex-box,
  .content .exercise-box:nth-child(3):hover .ex-box {
    transform: scale(1.03);
  }
}
