.fitness-tips {
  margin-top: 50px;
  padding: 50px 20px;
  background-color: var(--color-bg-light);
  text-align: center;
}

.fitness-tips h2 {
  font-size: 32px;
  color: var(--color-red);
  margin-bottom: 30px;
}

.tips-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.tip-box {
  background-color: var(--color-gray-dark);
  padding: 20px;
  border-radius: 15px;
  width: 280px;
  text-align: center;
  transition: transform 0.3s ease;
}

.tip-box:hover {
  transform: scale(1.05);
}

.tip-box h3 {
  margin-bottom: 10px;
  color: #fff;
}

.tip-box p {
  color: #ccc;
  font-size: 14px;
}
.ff-icon {
  font-size: 30px;
  margin-bottom: 15px;
  color: var(--color-red);
}
