.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--color-gray-dark);
  z-index: 100;
}

@media (max-width: 768px) {
  .header {
    padding: 3px;
    padding-top: 10px;
  }
}

.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.header .logo img {
  width: 150px;
}

@media (max-width: 768px) {
  .header .logo img {
    width: 110px;
  }
}

.header .links > ul {
  list-style: none;
}

.header .links > ul > li {
  display: inline-block;
  padding: 15px;
  margin: 0 10px;
  text-transform: uppercase;
  transition: 0.4s;
  text-align: center;
  cursor: pointer;
}

@media (max-width: 768px) {
  .header .links {
    display: none;
  }
  .header .show {
    flex-direction: column;
    position: absolute;
    right: 20px;
    top: 70px;
    background-color: var(--color-gray-dark);
    padding: 20px;
    display: flex;
    width: 200px;
    text-align: center;
  }
}

/* .header .show::after {
  content: "";
  left: 0;
  top: 0;
  background-color: black;
  width: 30px;
  height: 30px;
} */

.header .links > ul > li:hover {
  border-bottom: 1px solid var(--color-red);
}
a {
  text-decoration: none;
  color: #fff;
}
.header .links > ul > li > a {
  color: #fff;
}

.header .icons {
  display: flex;
  gap: 10px;
  align-items: center;
}

.header .icons > input {
  width: 250px;
  height: 30px;
  border-radius: 15px;
  padding: 3px 10px;
  display: none;
}

.header .icons > input::placeholder {
  color: var(--color-red);
}

.header .icons > input:active {
  border-color: var(--color-red);
}

.header .icons .search-icon {
  width: 20px;
  height: 20px;
  padding: 10px;
  background-color: var(--color-red);
  border-radius: 50%;
  cursor: pointer;
}

.header .icons .bars {
  font-size: 30px;
  margin-left: 5px;
  cursor: pointer;
}
@media (max-width: 768px) {
  .header .icons .bars {
    font-size: 27px;
  }
  .header .icons .search-icon {
    padding: 8px;
  }
}

@media (min-width: 768px) {
  .icons .bars {
    display: none;
  }
}
