.title {
  font-size: 28px;
  font-weight: 600;
  margin-bottom: 25px;
  color: #fa3636;
  position: relative;
  text-align: center;
}

@media (max-width: 768px) {
  .title {
    font-size: 22px;
  }
}

.meal-form {
  background: var(--color-gray-light);
  padding: 20px;
  border-radius: 14px;
  box-shadow: 0 4px 14px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 450px;
  margin: 50px auto;
  padding-top: 40px;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 14px;
  box-sizing: border-box;
}

.meal-input {
  background-color: #9b3209;
  color: #fff;
  padding: 12px 14px;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 16px;
  width: 100%;
  box-sizing: border-box;
}

.add-btn {
  margin-top: 10px;
  width: 100%;
  padding: 14px;
  border: none;
  background: #1dbc91;
  color: #fff;
  font-size: 17px;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.2s ease;
}

.add-btn:hover {
  background: #0beaae;
}

.meals-table {
  width: 100%;
  border-collapse: collapse;
  background: var(--color-gray-light);
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.05);
}

.meals-table th {
  background: var(--color-red);
  padding: 14px;
  font-weight: 600;
  color: #fff;
}

.meals-table th,
.meals-table td {
  border: 1px solid #ccc;
  padding: 12px;
  text-align: center;
}

.table-input {
  width: 90%;
  padding: 8px 10px;
  border-radius: 6px;
  background-color: #cab0b0;
  font-size: 15px;
  box-sizing: border-box;
}

@media (max-width: 600px) {
  .table-input {
    width: 100%;
    padding: 10px;
  }

  .meals-table th,
  .meals-table td {
    font-size: 14px;
    padding: 10px;
  }
}

.delete-btn {
  background: #ef4444;
  border: none;
  padding: 8px 14px;
  color: white;
  border-radius: 6px;
  cursor: pointer;
}

.delete-btn:hover {
  background: #c53333;
}
