.popular-workouts {
  background-image: url(src/images/popular-workout.jpg);
  background-size: cover;
  padding-top: 60px;
  padding-bottom: 150px;
  position: relative;
}

.popular-workouts .overlay {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
}
.popular-workouts .container {
  position: relative;
  z-index: 10;
}

.popular-workouts .content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 450px));
  gap: 30px;
  justify-content: center;
}

@media (max-width: 768px) {
  .popular-workouts .content {
    padding: 0 20px;
    gap: 40px;
  }
}

.popular-workouts .popular-header {
  padding: 30px;
  margin: 20px 0;
  text-align: center;
}
.popular-workouts .popular-header p {
  color: var(--color-red);
  position: relative;
  display: inline-block;
}
.popular-workouts .popular-header p::before {
  content: "";
  position: absolute;
  width: 50px;
  height: 2px;
  background-color: var(--color-red);
  left: -35px;
  top: 50%;
  transform: translateX(-50%);
}
.popular-workouts .popular-header p::after {
  content: "";
  position: absolute;
  width: 50px;
  height: 2px;
  background-color: var(--color-red);
  right: -60px;
  top: 50%;
  transform: translateY(-50%);
}
.popular-workouts .popular-header h2 {
  font-size: 35px;
  margin-top: 15px;
  margin-bottom: 20px;
}

@media (max-width: 768px) {
  .popular-workouts .popular-header h2 {
    font-size: 25px;
  }
}

.popular-workouts .content .workout-box {
  padding: 30px 20px;
  border-radius: 20px;
  background-color: var(--color-gray-dark);
  text-align: center;
  position: relative;
  transition: all 0.3s ease;
}

.popular-workouts .content .workout-box:hover {
  transform: scale(1.1);
}

@media (max-width: 768px) {
  .popular-workouts .content .workout-box:hover {
    transform: scale(1.08);
  }
}
.popular-workouts .content .workout-box img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-radius: 10px;
}
.popular-workouts .content .workout-box h3 {
  margin: 10px 0;
}
.popular-workouts .content .workout-box p {
  line-height: 1.7;
  color: var(--color-gray-text);
  margin-bottom: 40px;
}
.popular-workouts .content .workout-box .icon {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  font-size: 40px;
  cursor: pointer;
  color: var(--color-red);
  transition: transform 0.3s ease;
}

.popular-workouts .content .workout-box .icon:active {
  transform: scale(0.8);
}
