.services {
  padding-top: 100px;
  padding-bottom: 80px;
}

.services h2 {
  font-size: 35px;
  margin: 15px;
}
@media (max-width: 768px) {
  .services h2 {
    font-size: 25px;
  }
}
.services .p {
  color: var(--color-red);
  margin-left: 80px;
  position: relative;
}

.services .p::before {
  content: "";
  position: absolute;
  width: 50px;
  height: 2px;
  background-color: var(--color-red);
  left: -35px;
  top: 50%;
  transform: translateX(-50%);
}

.services .content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
  padding: 20px;
  margin-top: 50px;
}

.services .content .service-box {
  background-color: var(--color-gray-light);
  padding: 30px;
  border-radius: 20px;
  margin-top: 20px;
  position: relative;
  box-shadow: inset 0 0 25px #515151;
  transition: all 0.3s ease-in-out;
}

.services .content .service-box:hover {
  transform: scale(1.05);
}

.services .content .service-box .icons {
  position: absolute;
  top: -30px;
  left: 25px;
  width: 60px;
  height: 60px;
  background-color: var(--color-gray-light);
  border-radius: 50%;
  border: 5px solid var(--color-bg-light);
}

.services .content .service-box .icons .icon {
  font-size: 30px;
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.services .content .service-box h3 {
  margin-top: 20px;
  margin-bottom: 5px;
}
.services .content .service-box p:first-of-type {
  color: var(--color-gray-text);
}
.services .content .service-box .link {
  display: flex;
  gap: 10px;
  align-items: center;
  margin-top: 20px;
  color: var(--color-red);
  cursor: pointer;
  transition: transform 0.3s ease;
}

.services .content .service-box .link:active {
  transform: scale(0.8);
}

.services .content .service-box .link p {
  color: var(--color-red);
}

a {
  text-decoration: none;
}
