.parent {
  width: 100%;
  height: 120vh;
  background-color: var(--color-bg-light);
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1000000;
  display: flex;
  align-items: center;
  flex-direction: column;
  opacity: 1;
  animation-name: parent;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-direction: inherit;
}

.child {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.child .icon {
  font-size: 165px;
  color: #fff;
  animation-name: dumble;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-direction: inherit;
}

.child img {
  position: relative;
  top: 35%;
  animation-name: image;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-direction: initial;
  transform: scale(0.2);
}

.parent {
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.child .icon,
.child img {
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes dumble {
  50% {
    transform: translateY(90%) rotate(180deg);
  }
  75% {
    transform: translateY(150%);
  }
  100% {
    color: var(--color-red);
    transform: translateY(-90%);
  }
}
@keyframes parent {
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.child img {
  transform: translateY(35%) scale(0.2);
}
@keyframes image {
  50% {
    transform: translateY(30%) scale(1);
  }
  75% {
    transform: translateY(30%) scale(1.5);
  }
  100% {
    transform: translateY(0) scale(0);
  }
}

@media (max-width: 768px) {
  @keyframes image {
    75% {
      transform: scale(1.1);
    }
  }
}
